.form-container {
    width: 35%;
    background-color: rgba(128, 128, 128, 0.202);
}

.full-Height{
    height: 100vh;
}

@media only screen and (max-width: 550px) {
    .form-container {

        width: 100%;
    }
}